*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.calculator{
    background-color: tomato;
    display: flex;
    flex-direction: column;
}

.screen{
    height: 100px;
    width: 100%;
    background-color: rgb(198, 237, 255);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
}

.button{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 3px;
}